## Introduction to Pandas

Source: [DataCamp](https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python)

Pandas is a popular Python package for data science, and with good reason: it offers powerful, expressive and flexible data structures that make data manipulation and analysis easy, among many other things. The DataFrame is one of these structures.

Pandas is built on top of NumPy.

In [1]:
# import pandas and numpy

import pandas as pd
import numpy as np

#### DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. 
We can think of a DataFrame as a bunch of NumPy Series objects put together to share the same index.

In [2]:
# Simple Dataframe

tbl = [["A",92], ["B+",86]]
sample_df = pd.DataFrame(tbl,columns=["Letter Grade","Numeric Base"])

# Dump
sample_df

  Letter Grade  Numeric Base
0            A            92
1           B+            86

In [4]:
# Copy data structure from Canvas

students = [{"name":"Alice","course":"BSME","strand":"STEM"},
            {"name":"Bob","course":"BSME","strand":"HUMSS"},
            {"name":"Carol","course":"BSITE","strand":"ABM"},
            {"name":"Charlie","course":"BSITE","strand":"ABM"},
            {"name":"Chuck","course":"BSLM","strand":"ABM"},
            {"name":"Charlie","course":"BSME","strand":"ABM"},
            {"name":"Dave","course":"BSMGTH","strand":"GAS"},
            {"name":"Eve","course":"BSMGT","strand":"HUMSS"},
            {"name":"Frank","course":"BSITE","strand":"Arts and Design"},
            ]



# Dump list

listdf = pd.DataFrame(students)

#students

listdf

      name  course           strand
0    Alice    BSME             STEM
1      Bob    BSME            HUMSS
2    Carol   BSITE              ABM
3  Charlie   BSITE              ABM
4    Chuck    BSLM              ABM
5  Charlie    BSME              ABM
6     Dave  BSMGTH              GAS
7      Eve   BSMGT            HUMSS
8    Frank   BSITE  Arts and Design

In [6]:
# rearrange columns

listdf[["course","strand"]]
# dump

   course           strand
0    BSME             STEM
1    BSME            HUMSS
2   BSITE              ABM
3   BSITE              ABM
4    BSLM              ABM
5    BSME              ABM
6  BSMGTH              GAS
7   BSMGT            HUMSS
8   BSITE  Arts and Design

Lets say we would like to splice our data frame and select only specific portions of our data.  There are three different ways of doing so.
```
1. .loc[]
2. .iloc[]
3. .ix()
```

In [28]:
# filter where name == "Alice"

alice_condition=listdf["name"]=="Alice"
#listdf.loc[:,"name"]=="Alice"

listdf.loc[alice_condition,:]

    name course strand
0  Alice   BSME   STEM

In [26]:
listdf

      name  course           strand
0    Alice    BSME             STEM
1      Bob    BSME            HUMSS
2    Carol   BSITE              ABM
3  Charlie   BSITE              ABM
4    Chuck    BSLM              ABM
5  Charlie    BSME              ABM
6     Dave  BSMGTH              GAS
7      Eve   BSMGT            HUMSS
8    Frank   BSITE  Arts and Design

In [31]:
# filter where course=="BSME"

bsme_condition = listdf.loc[:,"course"]=="BSME"
listdf.loc[bsme_condition,:]

      name course strand
0    Alice   BSME   STEM
1      Bob   BSME  HUMSS
5  Charlie   BSME    ABM

In [33]:
listdf.loc[listdf.loc[:,"course"]=="BSME"]

      name course strand
0    Alice   BSME   STEM
1      Bob   BSME  HUMSS
5  Charlie   BSME    ABM

.loc[] takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.

In [34]:
# Use .loc, filter course=="BSMGT"

listdf.loc[listdf.loc[:,"course"]=="BSMGT"]

  name course strand
7  Eve  BSMGT  HUMSS

In [35]:
# slice rows and columns, course=="BSMGTH", column: strand

listdf.loc[listdf["course"]=="BSMGTH",["strand"]]

  strand
6    GAS

### .iloc
.iloc[] is integer based slicing, whereas .loc[] used labels/column names. Here are some examples:

In [36]:
# get row 0

listdf.iloc[0,:]

name      Alice
course     BSME
strand     STEM
Name: 0, dtype: object

In [37]:
# Get first two rows using .iloc

listdf.iloc[0:2,:]

    name course strand
0  Alice   BSME   STEM
1    Bob   BSME  HUMSS

#### Length and Size

In [40]:
# len
print(len(listdf))

# shape
print(listdf.shape)

# shape[0]
print(listdf.shape[0])

9
(9, 3)
9

In [41]:
listdf

      name  course           strand
0    Alice    BSME             STEM
1      Bob    BSME            HUMSS
2    Carol   BSITE              ABM
3  Charlie   BSITE              ABM
4    Chuck    BSLM              ABM
5  Charlie    BSME              ABM
6     Dave  BSMGTH              GAS
7      Eve   BSMGT            HUMSS
8    Frank   BSITE  Arts and Design

#### Add column

In [43]:
# randomize cumulative QPI

listdf["qpi"] = np.random.randint(250,400,len(listdf))/100

# dump
listdf

      name  course           strand   qpi
0    Alice    BSME             STEM  3.21
1      Bob    BSME            HUMSS  3.36
2    Carol   BSITE              ABM  3.84
3  Charlie   BSITE              ABM  3.28
4    Chuck    BSLM              ABM  2.68
5  Charlie    BSME              ABM  3.84
6     Dave  BSMGTH              GAS  3.81
7      Eve   BSMGT            HUMSS  3.98
8    Frank   BSITE  Arts and Design  3.11

In [44]:
listdf.columns

Index(['name', 'course', 'strand', 'qpi'], dtype='object')

#### Apply Function

In [45]:
# Copy function definition from Canvas


def latin_honors(qpi):
     if qpi >= 3.87:
        return "Summa Cum Laude"
     elif qpi >= 3.70:
        return "Magna Cum Laude"
     elif qpi >= 3.50:
        return "Cum Laude"
     elif qpi >= 3.35:
        return "Honorable Mention"
     else:
        return "NA"

In [46]:
# apply function latin_honors

listdf["qpi"].apply(latin_honors)

0                   NA
1    Honorable Mention
2      Magna Cum Laude
3                   NA
4                   NA
5      Magna Cum Laude
6      Magna Cum Laude
7      Summa Cum Laude
8                   NA
Name: qpi, dtype: object

In [47]:
listdf["qpi"]

0    3.21
1    3.36
2    3.84
3    3.28
4    2.68
5    3.84
6    3.81
7    3.98
8    3.11
Name: qpi, dtype: float64

#### Create new column based on function

In [48]:
# create honors column
listdf["honors"] = listdf["qpi"].apply(latin_honors)
#dump
listdf

      name  course           strand   qpi             honors
0    Alice    BSME             STEM  3.21                 NA
1      Bob    BSME            HUMSS  3.36  Honorable Mention
2    Carol   BSITE              ABM  3.84    Magna Cum Laude
3  Charlie   BSITE              ABM  3.28                 NA
4    Chuck    BSLM              ABM  2.68                 NA
5  Charlie    BSME              ABM  3.84    Magna Cum Laude
6     Dave  BSMGTH              GAS  3.81    Magna Cum Laude
7      Eve   BSMGT            HUMSS  3.98    Summa Cum Laude
8    Frank   BSITE  Arts and Design  3.11                 NA

In [49]:
# Download file from Canvas


# Load csv file to dataframe

# assign file name to filename variable
filename = "senior_high_schools.csv"

# load to dataframe
df = pd.read_csv(filename)

In [51]:
# head
df.head()

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
0,United Arab Emirates,United International Private School,ABM|HUMSS|STEM,Claret School of Lamitan,STEM|ABM|GAS|TVL
1,ARMM|Basilan,City of Lamitan,406921,"Hardam Furigay Colleges Foundation, Inc.",ABM|GAS|TVL
2,ARMM|Basilan,City of Lamitan,407069,"The Mariam School of Nursing, Inc.",TVL
3,ARMM|Basilan,Maluso,406059,Claret School of Maluso,GAS|TVL
4,ARMM|Basilan,Sumisip,406060,Claret School of Tumahubong,GAS|TVL

In [52]:
# get first 20 entries

df.head(20)

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
0,United Arab Emirates,United International Private School,ABM|HUMSS|STEM,Claret School of Lamitan,STEM|ABM|GAS|TVL
1,ARMM|Basilan,City of Lamitan,406921,"Hardam Furigay Colleges Foundation, Inc.",ABM|GAS|TVL
2,ARMM|Basilan,City of Lamitan,407069,"The Mariam School of Nursing, Inc.",TVL
3,ARMM|Basilan,Maluso,406059,Claret School of Maluso,GAS|TVL
4,ARMM|Basilan,Sumisip,406060,Claret School of Tumahubong,GAS|TVL
5,ARMM|Lanao del Sur,Balabagan,406063,San Isidro High School of Balabagan,ABM|GAS|TVL
6,ARMM|Lanao del Sur,Ditsaan-Ramain,600120,Adiong Memorial Polytechnic State College,ABM|HUMSS|TVL
7,ARMM|Lanao del Sur,Malabang,406066,Our Lady of Peace High School,HUMSS
8,ARMM|Lanao del Sur,Malabang,476002,Felix A. Panganiban (FAP) Academy of the Phili...,ABM|GAS
9,ARMM|Lanao del Sur,Marawi City,406008,Jamiatul Philippine Al-Islamia,ABM|STEM|HUMSS|TVL
10,ARMM|Lanao del Sur,Marawi City,406086,Aba Al-khail Computer School,HUMSS|ABM|STEM|GAS|TVL
11,ARMM|Lanao del Sur,Marawi City,406089,Dansalan College Foundation,ABM|STEM|HUMSS|GAS|TVL
12,ARMM|Lanao del Sur,Marawi City,406091,IBN Siena Integrated School Foundation,STEM|ABM|HUMSS
13,ARMM|Lanao del Sur,Marawi City,406093,Jamiatu Muslim Mindanao,ABM|HUMSS|GAS|TVL
14,ARMM|Lanao del Sur,Marawi City,406096,Mapandi Memorial College,GAS|TVL
15,ARMM|Lanao del Sur,Marawi City,406097,"Marawi Capitol College Foundation, Inc.",ABM|HUMSS|GAS
16,ARMM|Lanao del Sur,Marawi City,478003,"Marawi Foundation Academy, Inc.",ABM|STEM|HUMSS|GAS|TVL
17,ARMM|Lanao del Sur,Marawi City,478008,Masiricampo Abantas Memorial Educational Cente...,HUMSS|ABM|GAS|TVL
18,ARMM|Lanao del Sur,Marawi City,478011,"Lanao Islamic Paramedical College Foundation, Inc",ABM|HUMSS|GAS|TVL
19,ARMM|Lanao del Sur,Marawi City,478015,SMD Foundation Academy,ABM|HUMSS|GAS|TVL

#### Count Rows

In [53]:
# use shape
df.shape

(4905, 5)

In [54]:
# shape[0]
df.shape[0]

4905

In [55]:
# len
len(df)

4905

#### Get columns

In [56]:
# .columns
df.columns

Index(['TAXONOMY', 'MUNICIPALITY', 'SCHOOL ID', 'SCHOOL NAME',
       'PROGRAM OFFERINGS'],
      dtype='object')

In [60]:
# list comprehension of columns
#list(df.columns)
[c for c in df.columns]

['TAXONOMY', 'MUNICIPALITY', 'SCHOOL ID', 'SCHOOL NAME', 'PROGRAM OFFERINGS']

#### Get specific colum

In [65]:
# SCHOOL NAME

df["SCHOOL NAME"]

0                       Claret School of Lamitan
1       Hardam Furigay Colleges Foundation, Inc.
2             The Mariam School of Nursing, Inc.
3                        Claret School of Maluso
4                    Claret School of Tumahubong
                          ...
4900                           Middle East|Qatar
4901            Middle East|United Arab Emirates
4902                        United Arab Emirates
4903             The Philippine School Abu Dhabi
4904                          ABM|STEM|HUMSS|GAS
Name: SCHOOL NAME, Length: 4905, dtype: object

In [66]:
# head
df["SCHOOL NAME"].head()

0                    Claret School of Lamitan
1    Hardam Furigay Colleges Foundation, Inc.
2          The Mariam School of Nursing, Inc.
3                     Claret School of Maluso
4                 Claret School of Tumahubong
Name: SCHOOL NAME, dtype: object

#### Get multiple columns

In [67]:
# pass a list of column names: SCHOOL NAME, PROGRAM OFFERINGS

df[["SCHOOL NAME","PROGRAM OFFERINGS"]]

,SCHOOL NAME,PROGRAM OFFERINGS
0,Claret School of Lamitan,STEM|ABM|GAS|TVL
1,"Hardam Furigay Colleges Foundation, Inc.",ABM|GAS|TVL
2,"The Mariam School of Nursing, Inc.",TVL
3,Claret School of Maluso,GAS|TVL
4,Claret School of Tumahubong,GAS|TVL
...,...,...
4900,Middle East|Qatar,Qatar
4901,Middle East|United Arab Emirates,United Arab Emirates
4902,United Arab Emirates,Philippine-Emirates Private School (PISCO Priv...
4903,The Philippine School Abu Dhabi,STEM|ABM
4904,ABM|STEM|HUMSS|GAS,Middle East|United Arab Emirates

In [68]:
# head

df[["SCHOOL NAME","PROGRAM OFFERINGS"]].head()

                                SCHOOL NAME PROGRAM OFFERINGS
0                  Claret School of Lamitan  STEM|ABM|GAS|TVL
1  Hardam Furigay Colleges Foundation, Inc.       ABM|GAS|TVL
2        The Mariam School of Nursing, Inc.               TVL
3                   Claret School of Maluso           GAS|TVL
4               Claret School of Tumahubong           GAS|TVL

In [69]:
# TAXONOMY, SCHOOL NAME, PROGRAM OFFERINGS (head)

df[["TAXONOMY","SCHOOL NAME","PROGRAM OFFERINGS"]].head()

,TAXONOMY,SCHOOL NAME,PROGRAM OFFERINGS
0,United Arab Emirates,Claret School of Lamitan,STEM|ABM|GAS|TVL
1,ARMM|Basilan,"Hardam Furigay Colleges Foundation, Inc.",ABM|GAS|TVL
2,ARMM|Basilan,"The Mariam School of Nursing, Inc.",TVL
3,ARMM|Basilan,Claret School of Maluso,GAS|TVL
4,ARMM|Basilan,Claret School of Tumahubong,GAS|TVL

In [71]:
# TAXONOMY
df[["TAXONOMY"]]

                                           TAXONOMY
0                              United Arab Emirates
1                                      ARMM|Basilan
2                                      ARMM|Basilan
3                                      ARMM|Basilan
4                                      ARMM|Basilan
...                                             ...
4900                                            NaN
4901                                            NaN
4902  Far Eastern Private School - Al Shahba Campus
4903                             STEM|ABM|HUMSS|GAS
4904               Middle East|United Arab Emirates

[4905 rows x 1 columns]

In [73]:
print(type(df["TAXONOMY"]))
print(type(df[["TAXONOMY"]]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

#### Get Unique Values

In [74]:
# TAXONOMY, unique()

df["TAXONOMY"].unique()

array(['United Arab Emirates', 'ARMM|Basilan', 'ARMM|Lanao del Sur',
       'ARMM|Maguindanao', 'ARMM|Sulu', 'ARMM|Tawi-Tawi', 'CAR|Abra',
       'CAR|Apayao', 'CAR|Benguet', 'CAR|Ifugao', 'CAR|Kalinga',
       'CAR|Mt. Province', 'CARAGA|Agusan del Norte',
       'CARAGA|Agusan del Sur', 'CARAGA|Dinagat Islands',
       'CARAGA|Surigao del Norte', 'CARAGA|Surigao del Sur',
       'NCR|Metro Manila', 'NIR|Negros Occidental', 'NIR|Negros Oriental',
       'Region I|Ilocos Norte', 'Region I|Ilocos Sur',
       'Region I|La Union', 'Region I|Pangasinan', 'Region II|Cagayan',
       'Region II|Isabela', 'Region II|Nueva Vizcaya',
       'Region II|Quirino', 'Region III|Aurora', 'Region III|Bataan',
       'Region III|Bulacan', 'Region III|Nueva Ecija',
       'Region III|Pampanga', 'Region III|Tarlac', 'Region III|Zambales',
       'Region IV-A|Batangas', 'Region IV-A|Cavite', 'Region IV-A|Laguna',
       'Region IV-A|Quezon', 'Region IV-A|Rizal',
       'Region IV-B|Marinduque', 'Region IV-B|Occidental Mindoro',
       'Region IV-B|Oriental Mindoro', 'Region IV-B|Palawan',
       'Region IV-B|Romblon', 'Region V|Albay',
       'Region V|Camarines Norte', 'Region V|Camarines Sur',
       'Region V|Catanduanes', 'Region V|Masbate', 'Region V|Sorsogon',
       'Region VI|Aklan', 'Region VI|Antique', 'Region VI|Capiz',
       'Region VI|Guimaras', 'Region VI|Iloilo', 'Region VII|Bohol',
       'Region VII|Cebu', 'Region VII|Mandaue City',
       'Region VII|Siquijor', 'Region VIII|Eastern Samar',
       'Region VIII|Leyte', 'Region VIII|Northern Samar',
       'Region VIII|Samar', 'Region VIII|Southern Leyte',
       'Region IX|Basilan', 'Region IX|City of Isabela',
       'Region IX|Zamboanga del Norte', 'Region IX|Zamboanga del Sur',
       'Region IX|Zamboanga Sibugay', 'Region X|Bukidnon',
       'Region X|Camiguin', 'Region X|Lanao del Norte',
       'Region X|Misamis Occidental', 'Region X|Misamis Oriental',
       'Region XI|Compostela Valley', 'Region XI|Davao del Norte',
       'Region XI|Davao del Sur', 'Region XI|Davao Oriental',
       'Region XII|Cotabato City', 'Region XII|North Cotabato',
       'Region XII|Sarangani', 'Region XII|South Cotabato',
       'Region XII|Sultan Kudarat', 'Europe|Greece',
       'Middle East|Bahrain', 'Middle East|Kingdom of Saudi Arabia',
       'Kingdom of Saudi Arabia', 'Al Taj International School',
       'STEM|ABM|HUMSS|GAS',
       'Future Generation Philippine International School',
       'STEM|ABM|HUMSS|GAS|Arts and Design', nan,
       'Far Eastern Private School - Al Shahba Campus',
       'Middle East|United Arab Emirates'], dtype=object)

#### Conditional Expression

In [78]:
# TAXONOMY = "NCR|Metro Manila"

is_ncr = df["TAXONOMY"]=="NCR|Metro Manila"
df[is_ncr]
ncr_df = df[is_ncr]
ncr_df

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,NCR|Metro Manila,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,NCR|Metro Manila,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,NCR|Metro Manila,Binondo,406335,Tiong Se Academy,GAS|ABM
266,NCR|Metro Manila,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,NCR|Metro Manila,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...,...
1014,NCR|Metro Manila,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,NCR|Metro Manila,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,NCR|Metro Manila,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,NCR|Metro Manila,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,NCR|Metro Manila,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

#### Update columns

In [79]:
# assign "NCR" to "TAXONOMY" column

ncr_df["TAXONOMY"] = "NCR"


# Note: you may get an error here

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [80]:
# Fix using .copy()
# (copy and paste code above and modify with .copy())


is_ncr = df["TAXONOMY"]=="NCR|Metro Manila"
df[is_ncr]
ncr_df = df[is_ncr].copy()
ncr_df

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,NCR|Metro Manila,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,NCR|Metro Manila,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,NCR|Metro Manila,Binondo,406335,Tiong Se Academy,GAS|ABM
266,NCR|Metro Manila,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,NCR|Metro Manila,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...,...
1014,NCR|Metro Manila,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,NCR|Metro Manila,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,NCR|Metro Manila,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,NCR|Metro Manila,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,NCR|Metro Manila,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [81]:
# dump

ncr_df

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,NCR|Metro Manila,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,NCR|Metro Manila,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,NCR|Metro Manila,Binondo,406335,Tiong Se Academy,GAS|ABM
266,NCR|Metro Manila,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,NCR|Metro Manila,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...,...
1014,NCR|Metro Manila,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,NCR|Metro Manila,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,NCR|Metro Manila,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,NCR|Metro Manila,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,NCR|Metro Manila,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [82]:
# should not have any more errors after this
ncr_df["TAXONOMY"] = "NCR"

In [83]:
# dump

ncr_df

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,NCR,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,NCR,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,NCR,Binondo,406335,Tiong Se Academy,GAS|ABM
266,NCR,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,NCR,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...,...
1014,NCR,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,NCR,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,NCR,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,NCR,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,NCR,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [84]:
# head

ncr_df.head()

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,NCR,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,NCR,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,NCR,Binondo,406335,Tiong Se Academy,GAS|ABM
266,NCR,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,NCR,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL

#### Remove columns

In [85]:
# not in place unless specified; drop column TAXONOMY

ncr_df.drop(columns=["TAXONOMY"])

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,Binondo,406335,Tiong Se Academy,GAS|ABM
266,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...
1014,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [87]:
# Still there!
# dump

ncr_df

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,NCR,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,NCR,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,NCR,Binondo,406335,Tiong Se Academy,GAS|ABM
266,NCR,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,NCR,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...,...
1014,NCR,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,NCR,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,NCR,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,NCR,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,NCR,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [88]:
# Make drop permanent using inplace=True

ncr_df.drop(columns=["TAXONOMY"], inplace=True)

In [89]:
# Check
ncr_df

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,Binondo,406335,Tiong Se Academy,GAS|ABM
266,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...
1014,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [90]:
# can also drop this way (using axis)

# reconstruct ncr_df...
is_ncr = df["TAXONOMY"]=="NCR|Metro Manila"
df[is_ncr]
ncr_df = df[is_ncr].copy()
ncr_df

,TAXONOMY,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,NCR|Metro Manila,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,NCR|Metro Manila,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,NCR|Metro Manila,Binondo,406335,Tiong Se Academy,GAS|ABM
266,NCR|Metro Manila,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,NCR|Metro Manila,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...,...
1014,NCR|Metro Manila,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,NCR|Metro Manila,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,NCR|Metro Manila,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,NCR|Metro Manila,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,NCR|Metro Manila,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

In [91]:
#drop using axis=1 and inplace=True

ncr_df.drop(["TAXONOMY"], axis=1, inplace=True)

# dump to check
ncr_df

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
265,Binondo,406335,Tiong Se Academy,GAS|ABM
266,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL
267,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
...,...,...,...,...
1014,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM
1015,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS
1016,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1017,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL
1018,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

#### Select Rows (More examples)

In [92]:
# more selection and filtering examples: MUNICIPALITY = "City of Makati"

ncr_df[ncr_df["MUNICIPALITY"]=="City of Makati"]
# hmmm why only two entries?

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
342,City of Makati,401728,SoFa Design Institute,Arts and Design

In [93]:
# how about Quezon City?


ncr_df[ncr_df["MUNICIPALITY"]=="Quezon City"]

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
674,Quezon City,401443,ABE International Business College-Commonwealth,ABM|STEM|TVL
675,Quezon City,401445,ABE International College of Business and Acco...,ABM|GAS|HUMSS|STEM|TVL
676,Quezon City,401447,AMA Computer College-Farview,ABM|GAS|HUMSS|TVL
677,Quezon City,401448,AMA Computer University,ABM|STEM|GAS|HUMSS|TVL
678,Quezon City,401450,Asian College of Science and Technology Founda...,ABM|GAS|TVL
...,...,...,...,...
869,Quezon City,482956,Eclaro Academy,STEM|GAS|TVL
870,Quezon City,482971,"Datamex College of Saint Adeline, Inc.-Fairview",ABM|STEM|GAS|HUMSS|Arts and Design|Sports|TVL
871,Quezon City,482974,Mary the Queen College of Quezon City,ABM|HUMSS|STEM|GAS|TVL
872,Quezon City,(Blank),Jbest School of Technology and Practical Skill...,TVL
873,Quezon City,(Blank),Jbest School of Technology and Practical Skill...,TVL

#### Select subset of rows and columns

In [96]:
# MUNICIPALITY = Quezon City, display MUNICIPALITY and PROGRAM OFFERINGS

ncr_df[ncr_df["MUNICIPALITY"]=="Quezon City"][["MUNICIPALITY","PROGRAM OFFERINGS"]]

    MUNICIPALITY                              PROGRAM OFFERINGS
674  Quezon City                                   ABM|STEM|TVL
675  Quezon City                         ABM|GAS|HUMSS|STEM|TVL
676  Quezon City                              ABM|GAS|HUMSS|TVL
677  Quezon City                         ABM|STEM|GAS|HUMSS|TVL
678  Quezon City                                    ABM|GAS|TVL
..           ...                                            ...
869  Quezon City                                   STEM|GAS|TVL
870  Quezon City  ABM|STEM|GAS|HUMSS|Arts and Design|Sports|TVL
871  Quezon City                         ABM|HUMSS|STEM|GAS|TVL
872  Quezon City                                            TVL
873  Quezon City                                            TVL

[199 rows x 2 columns]

#### Regex

`Series.str.contains(self, pat, case=True, flags=0, na=nan, regex=True)[source]`

In [99]:
ncr_df["MUNICIPALITY"].str.contains("Quezon")

263    False
264    False
265    False
266    False
267    False
Name: MUNICIPALITY, dtype: bool

In [101]:
# str.contains(...)
ncr_df[ncr_df["MUNICIPALITY"].str.contains("Quezon")]

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
674,Quezon City,401443,ABE International Business College-Commonwealth,ABM|STEM|TVL
675,Quezon City,401445,ABE International College of Business and Acco...,ABM|GAS|HUMSS|STEM|TVL
676,Quezon City,401447,AMA Computer College-Farview,ABM|GAS|HUMSS|TVL
677,Quezon City,401448,AMA Computer University,ABM|STEM|GAS|HUMSS|TVL
678,Quezon City,401450,Asian College of Science and Technology Founda...,ABM|GAS|TVL
...,...,...,...,...
869,Quezon City,482956,Eclaro Academy,STEM|GAS|TVL
870,Quezon City,482971,"Datamex College of Saint Adeline, Inc.-Fairview",ABM|STEM|GAS|HUMSS|Arts and Design|Sports|TVL
871,Quezon City,482974,Mary the Queen College of Quezon City,ABM|HUMSS|STEM|GAS|TVL
872,Quezon City,(Blank),Jbest School of Technology and Practical Skill...,TVL
873,Quezon City,(Blank),Jbest School of Technology and Practical Skill...,TVL

In [102]:
# MUNICIPALITY contains Makati

ncr_df[ncr_df["MUNICIPALITY"].str.contains("Makati")]

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
342,City of Makati,401728,SoFa Design Institute,Arts and Design
389,Makati City,401015,ABE International Business College-Makati City,STEM|ABM|HUMSS|GAS|TVL
390,Makati City,401016,"AMA Computer College, Inc.-Makati",STEM|ABM|HUMSS|GAS|TVL
391,Makati City,401027,AMA Computer Learning Center of Guadalupe,STEM|ABM|HUMSS|GAS|TVL
392,Makati City,401034,Asia Pacific College,GAS|ABM|STEM
393,Makati City,401056,Career Academy Asia- PHINMA Education,Arts and Design|TVL
394,Makati City,401059,Centro Escolar University-Makati,STEM|ABM|HUMSS
395,Makati City,401067,"iACADEMY, Belair",ABM|HUMSS|GAS|Arts and Design|TVL
396,Makati City,401071,Infotech Institute of Arts and Sciences-Makati...,TVL
397,Makati City,401074,STI College - Makati,STEM|ABM|GAS|TVL
398,Makati City,401670,Global City Innovative College,STEM|ABM|HUMSS|TVL
399,Makati City,405667,Asian Institute of Computer Studies - Guadalupe,GAS|ABM|TVL
400,Makati City,406398,International Academy of Management and Economics,GAS|TVL
401,Makati City,406821,St. Paul College of Makati,STEM|ABM|HUMSS|TVL
402,Makati City,406836,Assumption College,STEM|ABM|HUMSS|GAS
403,Makati City,406837,Don Bosco Technical Institute - Makati,STEM|ABM|TVL
404,Makati City,406841,International Electronics and Technical Instit...,TVL
405,Makati City,406844,Colegio de Sta. Rosa,STEM|ABM|HUMSS
406,Makati City,406851,Colegio San Agustin-Makati,STEM|ABM|HUMSS|GAS
407,Makati City,406852,Our Lady of Guadalupe Minor Seminary,GAS
408,Makati City,406855,Guadalupe Catholic School,ABM|HUMSS|GAS
409,Makati City,406857,4th Watch Maranatha Christian Academy of Makati,STEM|GAS
410,Makati City,406858,Makati Hope Christian School,ABM|STEM
411,Makati City,406863,St. Mary of the Woods School,HUMSS|GAS|Arts and Design|TVL
412,Makati City,406864,Bethany Baptist Academy,STEM|HUMSS|ABM
413,Makati City,407054,Saint John Bosco Institute of Arts and Science...,TVL
414,Makati City,407058,Saint John Bosco Institute of Arts and Science...,TVL
415,Makati City,407453,Montessori Professional College- Makati,GAS|TVL
416,Makati City,485008,Light of the World Christian Academy of Makati,GAS|ABM|HUMSS
417,Makati City,485013,Bloomfield Academy of Makati,STEM|ABM|HUMSS
418,Makati City,485032,Reach International School Inc.,ABM|STEM|HUMSS|GAS
419,Makati City,600305,University of Makati,STEM|ABM|HUMSS|Arts and Design|Sports|TVL

In [103]:
# SCHOOL NAME contains Ateneo

ncr_df[ncr_df["SCHOOL NAME"].str.contains("Ateneo")]

    MUNICIPALITY SCHOOL ID                  SCHOOL NAME   PROGRAM OFFERINGS
793  Quezon City    406575  Ateneo de Manila University  ABM|STEM|HUMSS|GAS

In [104]:
# SCHOOL NAME contains Ateneo or Xavier


ncr_df[ncr_df["SCHOOL NAME"].str.contains("Ateneo|Xavier")]

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
771,Quezon City,406488,St. Francis Xavier Catholic School,GAS|HUMSS
793,Quezon City,406575,Ateneo de Manila University,ABM|STEM|HUMSS|GAS
913,San Juan City,406954,Xavier School,GAS|ABM|STEM|HUMSS

In [106]:
# PROGRAM OFFERINGS contains STEM


ncr_df[ncr_df["PROGRAM OFFERINGS"].str.contains("STEM")]

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS
264,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM
267,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL
268,Caloocan City,400951,AMA Computer Learning Center of Caloocan City,STEM|ABM|HUMSS|GAS|TVL
271,Caloocan City,400960,Datamex Institute of Computer Technology-Caloo...,STEM|ABM|HUMSS|GAS|Arts and Design|Sports|TVL
...,...,...,...,...
1004,Valenzuela City,407184,Our Lady of Lourdes College,STEM|ABM|HUMSS|GAS|TVL
1005,Valenzuela City,407185,St. Bernadette College of Valenzuela,ABM|STEM|HUMSS|GAS|TVL
1006,Valenzuela City,407186,"St. Catherine College of Valenzuela, Inc.",ABM|HUMSS|STEM|GAS
1016,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS
1018,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS

#### Add Columns

In [107]:
# First check what happens when we invoke str.contains ...
ncr_df["PROGRAM OFFERINGS"].str.contains("STEM")

263      True
264      True
265     False
266     False
267      True
        ...
1014    False
1015    False
1016     True
1017    False
1018     True
Name: PROGRAM OFFERINGS, Length: 756, dtype: bool

In [108]:
# Introduce columns
# STEM
# ABM
# HUMSS
# GAS
# TVL
# Arts and Design
# Sports

ncr_df["STEM"]=ncr_df["PROGRAM OFFERINGS"].str.contains("STEM")
ncr_df["ABM"]=ncr_df["PROGRAM OFFERINGS"].str.contains("ABM")
ncr_df["HUMSS"]=ncr_df["PROGRAM OFFERINGS"].str.contains("HUMSS")
ncr_df["GAS"]=ncr_df["PROGRAM OFFERINGS"].str.contains("GAS")
ncr_df["TVL"]=ncr_df["PROGRAM OFFERINGS"].str.contains("TVL")
ncr_df["Arts and Design"]=ncr_df["PROGRAM OFFERINGS"].str.contains("Arts and Design")
ncr_df["Sports"]=ncr_df["PROGRAM OFFERINGS"].str.contains("Sports")

In [109]:
# Check new columns

ncr_df.columns

Index(['MUNICIPALITY', 'SCHOOL ID', 'SCHOOL NAME', 'PROGRAM OFFERINGS', 'STEM',
       'ABM', 'HUMSS', 'GAS', 'TVL', 'Arts and Design', 'Sports'],
      dtype='object')

#### Conditional Selection

In [111]:
# Check new columns
ncr_df[['MUNICIPALITY', 'SCHOOL ID', 'SCHOOL NAME', 'PROGRAM OFFERINGS', 'STEM',
       'ABM', 'HUMSS', 'GAS', 'TVL', 'Arts and Design', 'Sports']]

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS,STEM,ABM,HUMSS,GAS,TVL,Arts and Design,Sports
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS,True,True,True,True,False,False,False
264,Binondo,406330,Lorenzo Ruiz Academy,ABM|STEM,True,True,False,False,False,False,False
265,Binondo,406335,Tiong Se Academy,GAS|ABM,False,True,False,True,False,False,False
266,Caloocan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL,False,True,False,False,True,False,False
267,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1014,Valenzuela City,487015,"St. Michael School of Canumay, Inc.",GAS|HUMSS|ABM,False,True,True,True,False,False,False
1015,Valenzuela City,487020,Nuestra Señora de Guia Academy,ABM|HUMSS|GAS,False,True,True,True,False,False,False
1016,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS,True,True,True,True,False,False,False
1017,Valenzuela City,487036,Sta. Cecilia College,ABM|HUMSS|GAS|TVL,False,True,True,True,True,False,False
1018,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS,True,True,True,True,False,False,False

In [113]:
# Which Schools in NCR offer both STEM and HUMSS?
# copy and paste column list above

stem = ncr_df["STEM"]==True
humss = ncr_df["HUMSS"]==True

ncr_df[(stem)&(humss)][['MUNICIPALITY', 'SCHOOL ID', 'SCHOOL NAME', 'PROGRAM OFFERINGS', 'STEM',
       'ABM', 'HUMSS', 'GAS', 'TVL', 'Arts and Design', 'Sports']]

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS,STEM,ABM,HUMSS,GAS,TVL,Arts and Design,Sports
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS,True,True,True,True,False,False,False
267,Caloocan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False
268,Caloocan City,400951,AMA Computer Learning Center of Caloocan City,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False
271,Caloocan City,400960,Datamex Institute of Computer Technology-Caloo...,STEM|ABM|HUMSS|GAS|Arts and Design|Sports|TVL,True,True,True,True,True,True,True
274,Caloocan City,400972,Martinez Memorial Colleges,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1004,Valenzuela City,407184,Our Lady of Lourdes College,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False
1005,Valenzuela City,407185,St. Bernadette College of Valenzuela,ABM|STEM|HUMSS|GAS|TVL,True,True,True,True,True,False,False
1006,Valenzuela City,407186,"St. Catherine College of Valenzuela, Inc.",ABM|HUMSS|STEM|GAS,True,True,True,True,False,False,False
1016,Valenzuela City,487031,St. Gregory College of Valenzuela City,ABM|HUMSS|STEM|GAS,True,True,True,True,False,False,False
1018,Valenzuela City,487048,Our Lady of Fatima University-Valenzuela City,GAS|ABM|STEM|HUMSS,True,True,True,True,False,False,False

#### `.loc[rowindex,colindex]`

In [114]:
# define row_idx and col_idx variables

row_idx=ncr_df["MUNICIPALITY"].str.contains("Makati")
col_idx=["MUNICIPALITY","PROGRAM OFFERINGS"]
# use .loc
ncr_df.loc[row_idx,col_idx]

       MUNICIPALITY                          PROGRAM OFFERINGS
263  City of Makati                         STEM|ABM|HUMSS|GAS
342  City of Makati                            Arts and Design
389     Makati City                     STEM|ABM|HUMSS|GAS|TVL
390     Makati City                     STEM|ABM|HUMSS|GAS|TVL
391     Makati City                     STEM|ABM|HUMSS|GAS|TVL
392     Makati City                               GAS|ABM|STEM
393     Makati City                        Arts and Design|TVL
394     Makati City                             STEM|ABM|HUMSS
395     Makati City          ABM|HUMSS|GAS|Arts and Design|TVL
396     Makati City                                        TVL
397     Makati City                           STEM|ABM|GAS|TVL
398     Makati City                         STEM|ABM|HUMSS|TVL
399     Makati City                                GAS|ABM|TVL
400     Makati City                                    GAS|TVL
401     Makati City                         STEM|ABM|HUMSS|TVL
402     Makati City                         STEM|ABM|HUMSS|GAS
403     Makati City                               STEM|ABM|TVL
404     Makati City                                        TVL
405     Makati City                             STEM|ABM|HUMSS
406     Makati City                         STEM|ABM|HUMSS|GAS
407     Makati City                                        GAS
408     Makati City                              ABM|HUMSS|GAS
409     Makati City                                   STEM|GAS
410     Makati City                                   ABM|STEM
411     Makati City              HUMSS|GAS|Arts and Design|TVL
412     Makati City                             STEM|HUMSS|ABM
413     Makati City                                        TVL
414     Makati City                                        TVL
415     Makati City                                    GAS|TVL
416     Makati City                              GAS|ABM|HUMSS
417     Makati City                             STEM|ABM|HUMSS
418     Makati City                         ABM|STEM|HUMSS|GAS
419     Makati City  STEM|ABM|HUMSS|Arts and Design|Sports|TVL

### Lightweight Data Cleanup

In [115]:
# dump unique MUNICIPALITIES first to check

ncr_df["MUNICIPALITY"].unique()

array(['City of Makati', 'Binondo', 'Caloocan City', 'City of Las Piñas',
       'City of Muntinlupa', 'City of Valenzuela', 'Kalookan City',
       'Las Piñas City', 'Makati City', 'Malabon City', 'Malate',
       'Mandaluyong City', 'Manila', 'Manila City', 'Marikina City',
       'Muntinlupa City', 'Navotas City', 'Paco', 'Pandacan',
       'Parañaque City', 'Pasay City', 'Pasig City', 'Pateros',
       'Quezon City', 'Quezon CIty', 'Quiapo', 'Sampaloc',
       'San Juan City', 'Santa Ana', 'Santa Cruz', 'Taguig City', 'Tondo',
       'Valenzuela City'], dtype=object)

In [116]:
# Replace MUNICIPALITIES

ncr_df.loc[ncr_df["MUNICIPALITY"]=="Makati City",["MUNICIPALITY"]]="City of Makati"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Quezon CIty",["MUNICIPALITY"]]="Quezon City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Caloocan City",["MUNICIPALITY"]]="Kalookan City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Las Piñas City",["MUNICIPALITY"]]="City of Las Piñas"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Valenzuela City",["MUNICIPALITY"]]="City of Valenzuela"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Muntinlupa City",["MUNICIPALITY"]]="City of Muntinlupa"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Manila",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Binondo",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Malate",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Paco",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Pandacan",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Quiapo",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Sampaloc",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Santa Cruz",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Santa Ana",["MUNICIPALITY"]]="Manila City"
ncr_df.loc[ncr_df["MUNICIPALITY"]=="Tondo",["MUNICIPALITY"]]="Manila City"

In [117]:
# check unique values again
ncr_df["MUNICIPALITY"].unique()

array(['City of Makati', 'Manila City', 'Kalookan City',
       'City of Las Piñas', 'City of Muntinlupa', 'City of Valenzuela',
       'Malabon City', 'Mandaluyong City', 'Marikina City',
       'Navotas City', 'Parañaque City', 'Pasay City', 'Pasig City',
       'Pateros', 'Quezon City', 'San Juan City', 'Taguig City'],
      dtype=object)

In [118]:
# len
len(ncr_df["MUNICIPALITY"].unique())

17

In [119]:
# define offerings variable with a list of offerings
offerings = ["STEM","ABM","HUMSS","GAS","TVL","Arts and Design","Sports"]
# dump
ncr_df[offerings]

       STEM   ABM  HUMSS    GAS    TVL  Arts and Design  Sports
263    True  True   True   True  False            False   False
264    True  True  False  False  False            False   False
265   False  True  False   True  False            False   False
266   False  True  False  False   True            False   False
267    True  True   True   True   True            False   False
...     ...   ...    ...    ...    ...              ...     ...
1014  False  True   True   True  False            False   False
1015  False  True   True   True  False            False   False
1016   True  True   True   True  False            False   False
1017  False  True   True   True   True            False   False
1018   True  True   True   True  False            False   False

[756 rows x 7 columns]

In [120]:
# Count number of offerings per school using sum (note: True == 1)
ncr_df[offerings].sum(axis=1)

263     4
264     2
265     2
266     2
267     5
       ..
1014    3
1015    3
1016    4
1017    4
1018    4
Length: 756, dtype: int64

In [121]:
# Add new column OFFERINGS COUNT
ncr_df["OFFERINGS COUNT"]=ncr_df[offerings].sum(axis=1)
ncr_df.head()

,MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS,STEM,ABM,HUMSS,GAS,TVL,Arts and Design,Sports,OFFERINGS COUNT
263,City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS,True,True,True,True,False,False,False,4
264,Manila City,406330,Lorenzo Ruiz Academy,ABM|STEM,True,True,False,False,False,False,False,2
265,Manila City,406335,Tiong Se Academy,GAS|ABM,False,True,False,True,False,False,False,2
266,Kalookan City,400942,ABE International Business College-Caloocan Ca...,ABM|TVL,False,True,False,False,True,False,False,2
267,Kalookan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5

### Group By

In [123]:
# loc, STEM==TRUE
muni_gb = ncr_df.groupby("MUNICIPALITY")
muni_gb["MUNICIPALITY"].count()

MUNICIPALITY
City of Las Piñas      43
City of Makati         33
City of Muntinlupa     35
City of Valenzuela     30
Kalookan City          77
Malabon City           14
Mandaluyong City       19
Manila City           106
Marikina City          35
Navotas City            4
Parañaque City         44
Pasay City             22
Pasig City             39
Pateros                 4
Quezon City           200
San Juan City          15
Taguig City            36
Name: MUNICIPALITY, dtype: int64

In [ ]:
# count()

#### `sort_values()`

In [124]:
# sort_values()

muni_gb["MUNICIPALITY"].count().sort_values(ascending=False)

MUNICIPALITY
Quezon City           200
Manila City           106
Kalookan City          77
Parañaque City         44
City of Las Piñas      43
Pasig City             39
Taguig City            36
City of Muntinlupa     35
Marikina City          35
City of Makati         33
City of Valenzuela     30
Pasay City             22
Mandaluyong City       19
San Juan City          15
Malabon City           14
Navotas City            4
Pateros                 4
Name: MUNICIPALITY, dtype: int64

In [127]:
# How many STEM schools per municipality?

muni_gb_stem = ncr_df.loc[ncr_df["STEM"],["MUNICIPALITY","STEM"]].groupby(["MUNICIPALITY"])
muni_gb_stem.count().sort_values(by="STEM",ascending=False)

                    STEM
MUNICIPALITY
Quezon City           84
Manila City           68
Kalookan City         30
City of Las Piñas     21
City of Makati        19
Marikina City         16
Parañaque City        15
Mandaluyong City      13
Pasig City            12
City of Valenzuela    11
City of Muntinlupa    11
Taguig City           11
Pasay City            10
San Juan City          8
Malabon City           2
Navotas City           1
Pateros                1

### Writing to csv

`to_csv(...)`

In [128]:
# turn off index when writing to csv
ncr_df.to_csv("ncr_shs.csv",index=False)

In [129]:
!cat ncr_shs.csv

MUNICIPALITY,SCHOOL ID,SCHOOL NAME,PROGRAM OFFERINGS,STEM,ABM,HUMSS,GAS,TVL,Arts and Design,Sports,OFFERINGS COUNT
City of Makati,407698,"Globetek Science Foundation, Inc.",STEM|ABM|HUMSS|GAS,True,True,True,True,False,False,False,4
Manila City,406330,Lorenzo Ruiz Academy,ABM|STEM,True,True,False,False,False,False,False,2
Manila City,406335,Tiong Se Academy,GAS|ABM,False,True,False,True,False,False,False,2
Kalookan City,400942,ABE International Business College-Caloocan Campus,ABM|TVL,False,True,False,False,True,False,False,2
Kalookan City,400947,AMA Computer College-Caloocan City,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5
Kalookan City,400951,AMA Computer Learning Center of Caloocan City,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5
Kalookan City,400952,Asian Institute of Computer Studies - Caloocan,ABM|GAS|TVL,False,True,False,True,True,False,False,3
Kalookan City,400959,Colegio de San Gabriel Arcangel of Caloocan,ABM|GAS|TVL,False,True,False,True,True,False,False,3
Kalookan City,400960,Datamex Institute of Computer Technology-Caloocan City,STEM|ABM|HUMSS|GAS|Arts and Design|Sports|TVL,True,True,True,True,True,True,True,7
Kalookan City,400962,Informatics College-Caloocan,ABM|GAS|HUMSS|TVL,False,True,True,True,True,False,False,4
Kalookan City,400967,"Lady of Lourdes Hospital and Colleges of Caybiga, Inc.",ABM|GAS|TVL,False,True,False,True,True,False,False,3
Kalookan City,400972,Martinez Memorial Colleges,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5
Kalookan City,400978,STI College - Caloocan,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5
Kalookan City,405537,Access Computer and Technical College-Camarin Campus,TVL,False,False,False,False,True,False,False,1
Kalookan City,405544,Access Computer and Technical College-Monumento Campus,TVL,False,False,False,False,True,False,False,1
Kalookan City,405581,APEC Schools-Grace Park West,GAS|ABM,False,True,False,True,False,False,False,2
Kalookan City,405583,"Asian Caregiving and Technology Education Centers, Inc.-Caloocan",TVL,False,False,False,False,True,False,False,1
Kalookan City,405602,"Emmanuel John Institute of Science & Technology, Inc.",TVL,False,False,False,False,True,False,False,1
Kalookan City,406395,Lorraine Technical School,TVL,False,False,False,False,True,False,False,1
Kalookan City,406674,Anchor of Life Academy,ABM|HUMSS|GAS,False,True,True,True,False,False,False,3
Kalookan City,406677,"Divine Mercy College Foundation, Inc.",ABM|GAS|TVL,False,True,False,True,True,False,False,3
Kalookan City,406678,La Consolacion College-Caloocan City,ABM|GAS|STEM|HUMSS|TVL,True,True,True,True,True,False,False,5
Kalookan City,406681,Notre Dame of Greater Manila,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5
Kalookan City,406683,Philippine Cultural College-Caloocan Campus,GAS|ABM|STEM|HUMSS,True,True,True,True,False,False,False,4
Kalookan City,406685,St. Mary's Academy of Caloocan City,ABM|HUMSS|GAS|STEM|Arts and Design|Sports|TVL,True,True,True,True,True,True,True,7
Kalookan City,406686,Systems Plus Computer College-Caloocan,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5
Kalookan City,406688,Baesa Adventist Academy,ABM|HUMSS|GAS|TVL,False,True,True,True,True,False,False,4
Kalookan City,406691,"World Citi Colleges-Caloocan, Inc.",ABM|STEM|GAS|TVL,True,True,False,True,True,False,False,4
Kalookan City,406696,Manila Central University,ABM|STEM|HUMSS|TVL,True,True,True,False,True,False,False,4
Kalookan City,406698,St. Dominic Savio College,ABM|HUMSS|STEM,True,True,True,False,False,False,False,3
Kalookan City,406711,Holy Redeemer School of Kalookan,ABM,False,True,False,False,False,False,False,1
Kalookan City,406712,Maranatha Christian Academy of Caloocan,GAS|TVL,False,False,False,True,True,False,False,2
Kalookan City,406713,"Mystical Rose School of Caloocan, Inc.",GAS|ABM|STEM|TVL,True,True,False,True,True,False,False,4
Kalookan City,406714,"Newland Center for Education, Inc.",TVL,False,False,False,False,True,False,False,1
Kalookan City,406715,Our Lady of Lourdes Catholic School,HUMSS,False,False,True,False,False,False,False,1
Kalookan City,406717,St. Clare College of Caloocan,ABM|HUMSS|Sports|Arts and Design|TVL,False,True,True,False,True,True,True,5
Kalookan City,406725,Holy Rosary College Foundation,GAS,False,False,False,True,False,False,False,1
Kalookan City,406726,Immaculada Concepcion Colleges,ABM|HUMSS|Sports|TVL,False,True,True,False,True,False,True,4
Kalookan City,406729,"St. Joseph College of Novaliches, Inc.",ABM|HUMSS|STEM|GAS,True,True,True,True,False,False,False,4
Kalookan City,406732,"Guardian Angel School, Inc",STEM|ABM,True,True,False,False,False,False,False,2
Kalookan City,406733,Holy Infant Montessori Center,ABM|HUMSS|GAS,False,True,True,True,False,False,False,3
Kalookan City,406734,La Consolacion College - Novaliches,ABM|GAS|STEM|HUMSS|Sports|Arts and Design|TVL,True,True,True,True,True,True,True,7
Kalookan City,406736,"Rosary Hills International School, Inc.",GAS|ABM|STEM|HUMSS|Sports|TVL,True,True,True,True,True,False,True,6
Kalookan City,406740,"St. Benedict School of Novaliches, Inc.",STEM|ABM,True,True,False,False,False,False,False,2
Kalookan City,406743,St. Raphaela Mary School,GAS,False,False,False,True,False,False,False,1
Kalookan City,406745,St. Therese of Rose School,GAS|ABM|HUMSS,False,True,True,True,False,False,False,3
Kalookan City,406746,Bloomington Middle and Grade School,GAS|HUMSS,False,False,True,True,False,False,False,2
Kalookan City,406747,"The Immaculate Mother Academy, Inc.",GAS|HUMSS|ABM|TVL,False,True,True,True,True,False,False,4
Kalookan City,407034,"Cieverose College, Inc.",TVL,False,False,False,False,True,False,False,1
Kalookan City,407449,"St. Francis Technical Institute for Development, Training and Competency Assessment Inc.",GAS|TVL,False,False,False,True,True,False,False,2
Kalookan City,407463,"Interface Computer College, Inc.",ABM|TVL,False,True,False,False,True,False,False,2
Kalookan City,483505,St. Agnes Academy of Caloocan,GAS|TVL,False,False,False,True,True,False,False,2
Kalookan City,483507,Regina Coeli Education Centre Foundation,ABM|GAS|TVL,False,True,False,True,True,False,False,3
Kalookan City,483508,"St. John Academy of Bagong Silang Caloocan, Inc.",ABM|GAS,False,True,False,True,False,False,False,2
Kalookan City,483510,"Dr. Rosita B. Britanico (Formerly Edosma Academy of Camarin, Inc.)",TVL,False,False,False,False,True,False,False,1
Kalookan City,483512,"E.M. Castro Educational Foundation, Inc.",GAS|ABM|STEM|HUMSS|TVL,True,True,True,True,True,False,False,5
Kalookan City,483517,St. Mary Goretti School,ABM|STEM|HUMSS|GAS|Arts and Design|Sports|TVL,True,True,True,True,True,True,True,7
Kalookan City,483519,"Pledge of Love School, Inc.",ABM|HUMSS|GAS,False,True,True,True,False,False,False,3
Kalookan City,483521,"St. Vincent de Ferrer College of Camarin, Inc.",STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5
Kalookan City,483526,"Young Achievers' School of Caloocan, Inc.",GAS|ABM|STEM|HUMSS|TVL,True,True,True,True,True,False,False,5
Kalookan City,483528,Golden Link College Foundation,GAS|ABM|HUMSS|STEM|TVL,True,True,True,True,True,False,False,5
Kalookan City,483540,"Genesis Christian Academy of Caloocan, Inc.",GAS|HUMSS|ABM,False,True,True,True,False,False,False,3
Kalookan City,483541,Mother of Divine Grace Academy,GAS|ABM|TVL,False,True,False,True,True,False,False,3
Kalookan City,483545,"Holy Angel School of Caloocan, Inc.",GAS|HUMSS|ABM|STEM,True,True,True,True,False,False,False,4
Kalookan City,483548,"Escuela de Sophia of Caloocan, Inc.",STEM|HUMSS|GAS|ABM|Sports|TVL,True,True,True,True,True,False,True,6
Kalookan City,483550,Knowledgeville School of Excellence,ABM,False,True,False,False,False,False,False,1
Kalookan City,483551,Our Lord's Angels School Inc.,ABM|HUMSS|GAS,False,True,True,True,False,False,False,3
Kalookan City,483552,"Escuela San Gabriel De Arcangel Foundation, Inc",ABM|GAS|TVL,False,True,False,True,True,False,False,3
Kalookan City,483558,Rhexane Academy Inc.,GAS|TVL,False,False,False,True,True,False,False,2
Kalookan City,483559,"University of the East, Caloocan City",GAS|ABM|STEM|HUMSS|Arts and Design|Sports|TVL,True,True,True,True,True,True,True,7
Kalookan City,483568,"Christ Jeross Christian Academy, Inc.",GAS|HUMSS|ABM,False,True,True,True,False,False,False,3
Kalookan City,483569,Ridgewood School of Caloocan,GAS|STEM|ABM|HUMSS|Arts and Design|TVL,True,True,True,True,True,True,False,6
Kalookan City,483570,"Academy of Saint Andrew-Caloocan, Inc.",GAS|HUMSS|ABM,False,True,True,True,False,False,False,3
Kalookan City,483587,"Sagrada Familia School of Caloocan, Inc.",GAS|ABM|HUMSS,False,True,True,True,False,False,False,3
Kalookan City,483620,St. Vincent Institute of Technology,GAS|STEM|TVL,True,False,False,True,True,False,False,3
Kalookan City,483653,Our Lady of Grace School of Caloocan,GAS|ABM|HUMSS|Sports|TVL,False,True,True,True,True,False,True,5
Kalookan City,600199,University of Caloocan City,ABM|HUMSS,False,True,True,False,False,False,False,2
Kalookan City,1406680,Northern Rizal Yorklin School,STEM|ABM|GAS|TVL,True,True,False,True,True,False,False,4
City of Las Piñas,400988,AMA Computer Learning Center of Las Piñas,TVL,False,False,False,False,True,False,False,1
City of Makati,401728,SoFa Design Institute,Arts and Design,False,False,False,False,False,True,False,1
City of Muntinlupa,407333,Sacred Heart Institute,HUMSS,False,False,True,False,False,False,False,1
City of Valenzuela,407189,St. Therese of the Child Jesus Jesus Kidz Academy,ABM,False,True,False,False,False,False,False,1
Kalookan City,406720,"Sta. Elena School of Novaliches, Inc.",GAS,False,False,False,True,False,False,False,1
Kalookan City,407302,Montessori Professional College - Caloocan,GAS|TVL,False,False,False,True,True,False,False,2
City of Las Piñas,400981,ABE International College of Business and Economics-Las Piñas City,ABM|GAS|HUMSS|STEM|TVL,True,True,True,True,True,False,False,5
City of Las Piñas,400986,AMA Computer College-Las Piñas City,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5
City of Las Piñas,400997,Southville International School and Colleges,STEM|ABM|HUMSS|GAS,True,True,True,True,False,False,False,4
City of Las Piñas,400999,St. Augustine College-Las Piñas City,ABM|STEM|GAS|HUMSS|TVL,True,True,True,True,True,False,False,5
City of Las Piñas,401000,STI College - Las Piñas,STEM|GAS|ABM|TVL,True,True,False,True,True,False,False,4
City of Las Piñas,405614,AMA Basic Education of Las Piñas City,STEM|ABM|GAS|HUMSS|TVL,True,True,True,True,True,False,False,5
City of Las Piñas,405630,Dr. Filemon C. Aguilar Information Technology Training Institute,TVL,False,False,False,False,True,False,False,1
City of Las Piñas,405657,"International Electronics and Technical Institute, Inc.-Las Piñas City",TVL,False,False,False,False,True,False,False,1
City of Las Piñas,405660,Southville International School Affiliated with Foreign Universities,ABM|GAS|TVL,False,True,False,True,True,False,False,3
City of Las Piñas,405952,"AZGH College, Inc.",TVL,False,False,False,False,True,False,False,1
City of Las Piñas,406276,Datamex Institute of Computer Technology-Las Piñas City,TVL,False,False,False,False,True,False,False,1
City of Las Piñas,406499,"Asian Caregiving and Technology Education Centers, Inc. - Las Piñas",TVL,False,False,False,False,True,False,False,1
City of Las Piñas,407036,Philippine Merchant Marine School,ABM|STEM|HUMSS,True,True,True,False,False,False,False,3
City of Las Piñas,407078,"Young Achievers International School, Inc.",ABM|GAS|TVL,False,True,False,True,True,False,False,3
City of Las Piñas,407079,Bernardo College,ABM|HUMSS|GAS|TVL,False,True,True,True,True,False,False,4
City of Las Piñas,407082,"Camella School, Inc.",ABM|GAS|HUMSS,False,True,True,True,False,False,False,3
City of Las Piñas,407085,Divine Light Academy - Las Piñas City,ABM|STEM|GAS|HUMSS,True,True,True,True,False,False,False,4
City of Las Piñas,407087,Holy Rosary Academy of Las Piñas City,STEM|ABM|HUMSS|GAS,True,True,True,True,False,False,False,4
City of Las Piñas,407090,Brittany School of Las Piñas,ABM,False,True,False,False,False,False,False,1
City of Las Piñas,407103,St. Joseph's Academy,STEM|GAS|TVL,True,False,False,True,True,False,False,3
City of Las Piñas,407104,St. Mark's Institute,ABM,False,True,False,False,False,False,False,1
City of Las Piñas,407105,"St. Michael's School, Inc.",ABM|HUMSS|GAS,False,True,True,True,False,False,False,3
City of Las Piñas,407106,Saint Therese School,ABM|GAS|TVL,False,True,False,True,True,False,False,3
City of Las Piñas,407107,University of Perpetual Help System Dalta-Las Piñas Campus,ABM|HUMSS|GAS|STEM|Sports|Arts and Design|TVL,True,True,True,True,True,True,True,7
City of Las Piñas,407109,Westfield Science-Oriented School,STEM|ABM|GAS,True,True,False,True,False,False,False,3
City of Las Piñas,407110,Augustinian Abbey School,ABM|STEM|GAS|HUMSS,True,True,True,True,False,False,False,4
City of Las Piñas,407113,Blessed Trinity School of Las Piñas,ABM|GAS,False,True,False,True,False,False,False,2
City of Las Piñas,407114,Bloomfield Academy,ABM|HUMSS|STEM,True,True,True,False,False,False,False,3
City of Las Piñas,407115,Creative Middle School,ABM,False,True,False,False,False,False,False,1
City of Las Piñas,407117,Don Carlo Cavina School,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5
City of Las Piñas,407119,Elizabeth Seton School,STEM|ABM|HUMSS,True,True,True,False,False,False,False,3
City of Las Piñas,407124,Las Piñas College,ABM|STEM|GAS|HUMSS|Sports,True,True,True,True,False,False,True,5
City of Las Piñas,407127,Mary Immaculate Parish Special School,GAS|TVL,False,False,False,True,True,False,False,2
City of Las Piñas,407131,"Montessori de Manila, Inc.",GAS|STEM|ABM|HUMSS|TVL,True,True,True,True,True,False,False,5
City of Las Piñas,407133,OB Montessori Center-Las Piñas City,GAS,False,False,False,True,False,False,False,1
City of Las Piñas,407134,Our Lady of Pilar Montessori Center,ABM,False,True,False,False,False,False,False,1

City of Las Piñas,407146,Sto. Niño De Eucharistia Academy,STEM|ABM|HUMSS,True,True,True,False,False,False,False,3
City of Las Piñas,407371,Seed Academy,TVL,False,False,False,False,True,False,False,1
City of Las Piñas,407447,APEC Schools-Naga Road,ABM|GAS,False,True,False,True,False,False,False,2
City of Las Piñas,486522,Schola de Vita,ABM,False,True,False,False,False,False,False,1
City of Las Piñas,486534,GCF South Metro Christian School,ABM|STEM|GAS|HUMSS,True,True,True,True,False,False,False,4
City of Makati,401015,ABE International Business College-Makati City,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5
City of Makati,401016,"AMA Computer College, Inc.-Makati",STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5
City of Makati,401027,AMA Computer Learning Center of Guadalupe,STEM|ABM|HUMSS|GAS|TVL,True,True,True,True,True,False,False,5
City of Makati,401034,Asia Pacific College,GAS|ABM|STEM,True,True,False,True,False,False,False,3
City of Makati,401056,Career Academy Asia- PHINMA Education,Arts and Design|TVL,False,False,False,False,True,True,False,2
City of Makati,401059,Centro Escolar University-Makati,STEM|ABM|HUMSS,True,True,True,False,False,False,False,3
City of Makati,401067,"iACADEMY, Belair",ABM|HUMSS|GAS|Arts and Design|TVL,False,True,True,True,True,True,False,5
City of Makati,401071,Infotech Institute of Arts and Sciences-Makati Branch,TVL,False,False,False,False,True,False,False,1
City of Makati,401074,STI College - Makati,STEM|ABM|GAS|TVL,True,True,False,True,True,False,False,4
City of Makati,401670,Global City Innovative College,STEM|ABM|HUMSS|TVL,True,True,True,False,True,False,False,4
City of Makati,405667,Asian Institute of Computer Studies - Guadalupe,GAS|ABM|TVL,False,True,False,True,True,False,False,3
City of Makati,406398,International Academy of Management and Economics,GAS|TVL,False,False,False,True,True,False,False,2
City of Makati,406821,St. Paul College of Makati,STEM|ABM|HUMSS|TVL,True,True,True,False,True,False,False,4
City of Makati,406836,Assumption College,STEM|ABM|HUMSS|GAS,True,True,True,True,False,False,False,4
City of Makati,406837,Don Bosco Technical Institute - Makati,STEM|ABM|TVL,True,True,False,False,True,False,False,3
City of Makati,406841,"International Electronics and Technical Institute, Inc.-Makati",TVL,False,False,False,False,True,False,False,1
City of Makati,406844,Colegio de Sta. Rosa,STEM|ABM|HUMSS,True,True,True,False,False,False,False,3
City of Makati,406851,Colegio San Agustin-Makati,STEM|ABM|HUMSS|GAS,True,True,True,True,False,False,False,4
City of Makati,406852,Our Lady of Guadalupe Minor Seminary,GAS,False,False,False,True,False,False,False,1
City of Makati,406855,Guadalupe Catholic School,ABM|HUMSS|GAS,False,True,True,True,False,False,False,3
City of Makati,406857,4th Watch Maranatha Christian Academy of Makati,STEM|GAS,True,False,False,True,False,False,False,2
City of Makati,406858,Makati Hope Christian School,ABM|STEM,True,True,False,False,False,False,False,2
City of Makati,406863,St. Mary of the Woods School,HUMSS|GAS|Arts and Design|TVL,False,False,True,True,True,True,False,4
City of Makati,406864,Bethany Baptist Academy,STEM|HUMSS|ABM,True,True,True,False,False,False,False,3
City of Makati,407054,"Saint John Bosco Institute of Arts and Sciences, Inc. - Pio del Pilar",TVL,False,False,False,False,True,False,False,1
City of Makati,407058,"Saint John Bosco Institute of Arts and Sciences, Inc. - Makati City",TVL,False,False,False,False,True,False,False,1
City of Makati,407453,Montessori Professional College- Makati,GAS|TVL,False,False,False,True,True,False,False,2
City of Makati,485008,Light of the World Christian Academy of Makati,GAS|ABM|HUMSS,False,True,True,True,False,False,False,3
City of Makati,485013,Bloomfield Academy of Makati,STEM|ABM|HUMSS,True,True,True,False,False,False,False,3
City of Makati,485032,Reach International School Inc.,ABM|STEM|HUMSS|GAS,True,True,True,True,False,False,False,4
City of Makati,600305,University of Makati,STEM|ABM|HUMSS|Arts and Design|Sports|TVL,True,True,True,False,True,True,True,6
Malabon City,405668,St. Catherine Institute of Technology,TVL,False,False,False,False,True,False,False,1
Malabon City,406403,City of Malabon Polytechnic Institute,TVL,False,False,False,False,True,False,False,1
Malabon City,406404,"College of Saint Amatiel, Inc.-Malabon",TVL,False,False,False,False,True,False,False,1
Malabon City,407094,City of Malabon University,ABM|HUMSS,False,True,True,False,False,False,False,2
Malabon City,407209,Philippine Malabon Cultural Institute,GAS|ABM,False,True,False,True,False,False,False,2
Malabon City,407210,St. James Academy-Malabon City,ABM|HUMSS,False,True,True,False,False,False,False,2
Malabon City,407211,St. Therese of the Child Jesus Academy,GAS|ABM|TVL,False,True,False,True,True,False,False,3
Malabon City,407215,Immaculate Conception Parochial School,GAS|ABM|TVL,False,True,False,True,True,False,False,3
Malabon City,407220,De La Salle Araneta University,ABM|HUMSS|GAS|STEM|TVL,True,True,True,True,True,False,False,5
Malabon City,407223,Salvador Araneta Memorial Institute,ABM,False,True,False,False,False,False,False,1
Malabon City,407229,"Higher Ground Baptist Academy Foundation, Inc.",HUMSS|GAS,False,False,True,True,False,False,False,2
Malabon City,487514,"Probex School, Inc.",GAS|ABM|HUMSS,False,True,True,True,False,False,False,3
Malabon City,487515,"Seibo College Foundation, Inc.",GAS,False,False,False,True,False,False,False,1
Malabon City,487518,"Arellano University, Elisa Esguerra Campus, Jose Rizal High School",STEM|HUMSS|GAS|ABM|TVL,True,True,True,True,True,False,False,5
Manila City,401135,"ABE International College of Business and Accountancy-Taft, Manila",ABM|TVL,False,True,False,False,True,False,False,2
Manila City,401151,De La Salle University-Manila,STEM|ABM|HUMSS,True,True,True,False,False,False,False,3
Manila City,401160,Emilio Aguinaldo College,HUMSS|STEM|ABM|Sports|TVL,True,True,True,False,True,False,True,5